:host {
    $avatar-size: 70px;

    mat-card {
        margin-bottom: 15px;
        min-width: 450px;

        .mat-card-avatar {
            height: $avatar-size;
            width: $avatar-size;
        }

        .mat-card-header {
            .mat-card-header-text {
                padding-left: 10px;
            }

            .mat-card-subtitle:last-child {
                margin-bottom: 0;
            }
        }

        .badges-container {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-left: 10px;

            .list-badge:not(:first-child) {
                margin-left: -8%;
                word-wrap: none;
            }
        }
    }

    .header-image {
        background-size: cover;
    }
}