:host {
    $avatar-size: 70px;

    mat-card {
        margin-bottom: 10px;

        .mat-card-avatar {
            height: $avatar-size;
            width: $avatar-size;
        }

        .mat-card-header {
            .mat-card-header-text {
                padding-left: 10px;
            }

            .mat-card-subtitle:last-child {
                margin-bottom: 0;
            }
        }
    }

    .header-image {
        background-size: cover;
    }
}