.portal-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  max-width: 100%;
}

.portal-is-mobile .portal-toolbar {
  position: fixed;
  z-index: 2;
}

h1.portal-app-name {
  margin-left: 8px;
}

.portal-sidenav-container {
  flex: 1;
}

.portal-is-mobile .portal-sidenav-container {
  flex: 1 0 auto;
}

.content-wrapper {
  padding: 0 20%;
  height: calc(100vh - 84px);
  max-height: calc(100vh - 84px);
  overflow-y: auto;
  margin: 10px 0;
}
