<mat-card>
  <mat-card-content>
    <mat-grid-list cols="4" rows="2">
      <mat-grid-tile>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <div class="profile-card-content">
        <mat-list>
            <mat-list-item>
              NAME
            </mat-list-item>
            <mat-list-item>
                POSITION
            </mat-list-item>
            <mat-list-item>
                ROOM
            </mat-list-item>
          </mat-list>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
