.profile-card-content {
  width: 100%;
  height: 100%;

  align-items: left;
  justify-content: left;

  padding-right: 100px;
}

.balance-block {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  width: 100px;
}

.achievements-block {
  margin-top: 5px;
}

.email-link {
  text-decoration: none;
  color: #81d4fa;
}

.italic {
  font-style: italic;
}
